*{
    list-style: none;
}

.columns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button{
    background-color: black;
    color: orange;
    transition: 0.3s;
    border: none;
    padding: 10px;
    border-radius: 25px;
}

button:hover{
    background-color: orange;
    color: black;
}

.remove_button:hover{
    background-color: red;
    color: black;
}
